.env*
venv
.idea
data/
!.env.example
!data/minio/vol0/.gitkeep
!data/minio/vol1/.gitkeep
!data/minio/vol2/.gitkeep
!data/minio/vol3/.gitkeep
!data/postgres/.gitkeep
!data/postgres/data/.gitkeep
!data/mosquitto/auth/.gitkeep
!data/mosquitto/config/.gitkeep
!data/tomcat/context/.gitkeep
/Pipfile
