html {
    color-scheme: light;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.5em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#section-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5vw;
}

#link-card-list {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
}

#section-title {
    margin-bottom: 1em;
    animation: fadeIn .6s ease-out;
}

#section-images {
    margin-top: 1em;
    animation: fadeIn .8s ease-out;
}

#title {
    font-weight: 100;
    margin-bottom: 5px;
}

#subtitle {
    font-size: 1em;
    font-weight: 100;
    margin-top: 0;
}

.img-head {
    height: 3em;
}

#img-title {
    height: 9em;
}

.link-card-wrapper {
    flex-direction: column;
    flex-grow: 1;
    margin: .3em;
    text-align: left;
    background-color: rgba(0, 0, 50, 0.05);
    border-radius: .4em;
    transition: all .1s;
    color: black;
    animation: cardFadeIn 1s ease-out;
    min-width: 10em;
    max-width: 22em;
    flex-basis: 0;
}

.link-card-wrapper:hover {
    background-color: rgba(0, 0, 50, 0.1);
    transform: scale(1.025);
}

.link-card {
    padding: 1.5em 1.5em 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link-card-header {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 1em;
}

.link-card-text {
    color: #333;
    font-size: .8em;
    font-weight: 100;
    margin-bottom: 1.5em;
}

.link-card-arrow {
    align-self: flex-end;
    margin-top: auto;
    font-size: 1.2em;
    position: relative;
    bottom: 2em;
}

#section-footer-links {
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

#footer-links-list {
    list-style: none;
    padding: 0;
}

#footer-links-list li {
    display: inline;
    margin: 0 15px;
}

.footer-link a {
    text-decoration: none;
    color: #666;
    font-size: 1em;
    transition: color .1s;
}

.footer-link a:hover {
    color: black;
    transition: color .1s;
}

/* keyframes */

@keyframes cardFadeIn {
    0% {
        left: 1em;
        opacity: 0;
    }
    50% {
        left: .9em;
        opacity: 0;
    }
    100% {
        left: 0em;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: scale(0.975);
    }
    100% {
        opacity: 1;
    }
}

/* mobile */

@media (min-width: 768px) {
    #link-card-list {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
        flex-direction: row;
    }

    .img-head {
        height: 3em;
    }

    .link-card-list {
        width: 100vw;
        margin: .3em 0;
        flex-direction: column;
    }

    #link-card-list {
        align-items: center;
        flex-direction: column;
    }

    .link-card-wrapper {
        width: 100%;
        max-width: 100%;
        margin: .3em 0;
    }

    .link-card-arrow {
        display: none;
    }
}
