apiVersion: 1

datasources:
  - name: "monitoring"
    uid: "d271adae-f18f-4bd8-bd2e-a4c57d50ff73"
    type: postgres
    url: ${MONITORING_DATABASE_HOST}
    user: ${MONITORING_DATABASE_USER}
    isDefault: false
    secureJsonData:
      password: ${MONITORING_DATABASE_PASS}
    jsonData:
      database: ${MONITORING_DATABASE_DB}
      sslmode: ${MONITORING_DATABASE_SSLMODE}
      postgresVersion: 1400
      timescaledb: false
